<!-- For Add on Purchase-->

<link rel="stylesheet" href='/stylesheets/plugins/datapicker/datepicker3.css' />
<link rel="stylesheet" href='/stylesheets/add_purchase.css' />
<script src="/javascripts/bower_components/plugins/datapicker/bootstrap-datepicker.js"></script>

<div ng-controller="PurchaseController as purCtrl" class="ibox float-e-margins col-md-12 border_form_purchase">
	<div class="">
		<div ng-switch on="purchaseForm"> 
			<h2 ng-switch-when="1">Enter Purchase </h2> 
			<h2 ng-switch-when="2">Edit Purchase </h2> 
		</div>
		<form name="purchase_entry" ng-submit="purCtrl.SubmitPurchase()">
			<div class="form-group col-md-12" id="data_1"><label class="control-label">Date of Purchase</label>
				<div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" name="date_purchased" class="form-control" ng-model="purCtrl.date_purchased" value="">
				</div>
			</div>
			<div class="form-group col-md-12"><label class="control-label">Stock</label>
				<select class="form-control" name="stock" ng-model="purCtrl.stock_purchased" ng-options="stock.stock_id as stock.stock_name for stock in purCtrl.stocks">
				</select>
			</div>
			<div>
			<div class="form-group col-md-6" ><label class="control-label">Quantity</label>
				<input ng-model="purCtrl.qty_purchased" type="number" placeholder="Enter Quantity Purchased" class="form-control">
			</div>
			<div class="form-group col-md-6" ><label class="control-label">Purchased Price</label>
				<input ng-model="purCtrl.purchased_price" type="text" placeholder="Enter Purchased Price" class="form-control">
			</div>
			</div>
			<div class="form-group col-md-12" ><label class="control-label">Purchased Value</label>
				<input ng-model="purCtrl.purchased_value" type="text" placeholder="Enter Purchased Value Eg. $1450, leave empty if unknown" class="form-control">
			</div>
			<div class="form-group col-md-12" ng-switch on="purchaseForm">
				<button class="btn btn-w-m btn-warning" type="submit" ng-switch-when="1">Add Purchase</button>
				<button class="btn btn-w-m btn-warning" type="submit" ng-switch-when="2">Edit Purchase</button>
			</div>
		</form>
	</div>
</div>

<script>
$(document).ready(function(){

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
          

        });

</script>